.mainIndex{
  height:100%;
  text-align: center;
  .statistics{
    background: url("../assets/statistics.jpg")  no-repeat;
    background-size: 100% 100%;
    height:100%;
  }
  .workbookMsg{
    background: url("../assets/answerMsg.jpg")  no-repeat;
    background-size: 100% 100%;
    height:100%;
  }
  .homework{
    background: url("../assets/homework.jpg")  no-repeat;
    background-size: 100% 100%;
    height:100%;
  }
  .induce{
    background: url("../assets/induce.jpg")  no-repeat;
    background-size: 100% 100%;
    height:100%;
    height:100%;
  }
  .class{
    background: url("../assets/class.jpg")  no-repeat;
    background-size: 100% 100%;
    height:100%;
  }
  .camera{
    background: url("../assets/camera.jpg")  no-repeat;
    background-size: 100% 100%;
    height:100%;
  }
  .workbook{
    background: url("../assets/answer.jpg")  no-repeat;
    background-size: 100% 100%;
    height:100%;
  }
  .download{
    background: url("../assets/download.jpg")  no-repeat;
    background-size: 100% 100%;
    height:100%;
  }
  .blank{
    background: url("../assets/blank.jpg")  no-repeat;
    background-size: 100% 100%;
    height:100%;
  }
}

.user{
  .headInfo{
    .weui-cell{padding:1rem .75rem !important}
    .weui-cell__ft:after{
      border-color:#fff !important
    }
  }
  .userBg{
    background: url("../assets/bg.jpg")  no-repeat;
    background-size: 100% 100%;
    height:100%;
  }
  .info {
    height: 365/40rem;
    width: 100%;
    text-align: center;
    position: relative;
    .arrow{
        position: absolute;
        top:0;
        right:0;
        width:50px;
        height:100%;
        float:right;
        box-sizing: border-box;
        padding-top:3rem;
        i{
          margin:0 auto;
          color:rgba(255,255,255,.6)
        }
    }
    .phone {
      color: #fff;
      margin-top:.25rem;
      font-size: .8rem;
    }
    .upload {
      font-size: 32/40rem;
      color: #fff;
      width: 25%;
      border-radius: 20/40rem;
      height: 45/40rem;
      margin: 0.3rem auto;
      background: #4e9e95;
    }
  }
}
