//拍照
.cameraIndex{
    .img{
        height:100%;width:100%;text-align: center;padding-top:20%;
        p{margin-top:-2rem;color:#666;font-size:.8rem;}
    }
    .iconfont{font-size:10rem;margin-top:5rem;color:#4bb7aa;}
     .vux-demo-tabbar{
        Button{border-radius: 0;}
    }
    .weui_tabbar:before{
        height: 0;
        border: none;
    }
}

//拍题记录
.cameraRecord{
    .weui_media_box{
        .weui_media_desc{-webkit-line-clamp:100;}
    }
    .isCollect{
        color:orange;
    }
}

//搜题结果
.cameraResult{
    .weui_media_box{
        .weui_media_desc{-webkit-line-clamp:100;}
    }
    .vux-demo-tabbar{
        Button{border-radius: 0;}
    }
    .isCollect{
        color:orange;
    }
}

//搜题历史
.cameraHistory{
    .main{padding:.5rem .35rem 0;}
    .list{
        height:6rem;background: #fff;margin-bottom:.5rem;
        padding: .25rem .25rem 0;box-sizing: border-box;
        .title{font-size:.7rem;padding-left:.5rem;width:80%;}
        .difficult{font-size:.7rem;padding-left:.5rem;text-align: left;}
        .time{font-size:.7rem;padding-left:.5rem;margin-top:.2rem;}
        img{width:100%;overflow: hidden;height:5.5rem;margin-top: .25rem;}
        .isCollect{
            float: right;
            .icon-collect{
                color:orange;top:1px;font-size:1.2rem;text-align: left;
            }
            .icon-collect1{
                color:orange;top:1px;font-size:1.2rem;text-align: left;
            }
        }
        .icon-clear{font-size:1.5rem;position: absolute;right:-.1rem;bottom:50%;width:2rem;height:2rem;}
    }
}
