.mainMessage{
    //.weui_cell_ft.with_arrow:after{display: none;}
    .weui_cells{margin-top:0;}
    .vux-label-desc{
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }
}


.mainIndex{
  font-size:inheirt;
  .swiper{
    height:400/40em;
    width:100%;
    .swiperImg img {
      width: 100%;
    }
  }
  .weui_media_box.weui_media_appmsg{
    .weui_media_hd{
        width:55px;
        height:55px;
    }
  } 
  .weui_panel_bd{
      a{
        padding:10px 25px 5px;
      }
  }
  .content{
    .block{height:215/40em;background:#fff;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
  }
  .weui_panel_access .weui_panel_ft{
    padding:5px 10px;
    color:#999;
    text-align:right;
  }
  .weui_panel_access .weui_panel_ft:after{display:none;}

}



.user{
    .vux-header{
        background-color:#4bb7aa;
        a{color:#fff;}
    }
    .info{
        font-size:inherit;
        height:365/40em;
        width:100%;
        text-align:center;
        background:url('../../assets/user/userBg.jpg') repeat;
        .defaultimg{
            width: 20%;
            height: 150/40rem;
            margin-top: 30/40rem;
            border-radius:150/40rem;
            background: url('../../assets/user/defaultimg.png') no-repeat center /4rem;
        }
        .phone{
            color: #fff;
            font-size:32/40rem;
        }
        .upload{
            font-size:32/40rem;
            color: #fff;
            width: 25%;
            border-radius: 20/40rem;
            height: 45/40rem;
            margin: 0.3rem auto;
            background: #4e9e95;
        }
    }
    .weui_cell{padding:10px 15px;}
    .weui_cells{margin-top:0;}
    .icon{width:30px;height:30px;display: block;background-size: 100%;background-repeat:no-repeat;margin-right:17px;background-position: center}
    .icon-info{background-image:url('../../assets/user/info.png');}
    .icon-textbook{background-image:url('../../assets/user/textbook.png');}
    .icon-class{background-image:url('../../assets/user/class.png');}
    .icon-member{background-image:url('../../assets/user/member.png');}
    .icon-invite{background-image:url('../../assets/user/invite.png');}
    .icon-settings{background-image:url('../../assets/user/settings.png');}
    .icon-resetPwd{background-image:url('../../assets/user/resetPwd.png');}
}
