.workbookStuIndex{
    .weui_cells_title{
        color:#4bb7aa;
    }
    .weui_cell:before{border-top:1px dashed #d9d9d9;}
    .weui_cells:after, .weui_cells:before{
        height:0px;position: relative;
    }
}

.workbookStuSelectHeader{
    position:absolute;left:0;top:0;width:100%;z-index:100
}

//上传照片
.workbookAnswer{
    .photo{
        margin-left:.6rem;
        float:left;
        margin-bottom:.5rem;
        width:7.5/2rem;
        height:5rem;
    }
    
}
//上传照片
.workbookStuUploader{
    .photo{
        position: relative;
        float:left;
        margin-right:.6rem;
        margin-bottom:.5rem;
        width:7.5/2rem;
        height:5rem;
        i{
            position: absolute;
            right:-.95rem;
            top:-1.1rem;
            width:2rem;
            height:2rem;
            text-align: center;
            z-index:2016;
            color:#666;
        }
        img{
            width:7.5/2rem;
            height:5rem;
            z-index:2015
           
        }
    }
    .photoAdd{
        box-sizing: border-box;
        width:7.5/2rem;
        height:5rem;
        border:.05rem solid #ddd;
        float:left;
        text-align: center;
        background: #fff;
        i{
            margin:0 auto;
            top:.5rem;
            color:#eee;
        }
    }
}


.ellipsis{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient:inherit;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.workbookStuSelect{
    .indent1{
        text-indent: 1em;
        .ellipsis
    }
    .indent2{
        text-indent: 2em;
        .ellipsis
    }
    .indent3{
        text-indent: 3em;
        .ellipsis
    }
    .sectionHeader{
        text-indent: 1em;
        background: #fff;text-align: center;
        position: relative;
        padding:5px 0;
        border-bottom: 1px solid #d9d9d9;

        color:#487d68;
        font-size:.85rem;
        .with_arrow{
            display: inline-block;
            transform: rotate(315deg);
            height: 6px;
            width: 6px;
            border-width: 2px 2px 0 0;
            border-color: #487d68;
            border-style: solid;
            position: absolute;
            right:.5rem; 
            top:20px;           
        }
    }
    .weui_cells_title{
        color:#4bb7aa;
    }
    .with_arrow{
        display: none;
    }
    .weui_cell_bd{
        font-size:.75rem;
    }
    .weui_cell:before{border-top:1px dashed #d9d9d9;}
    .weui_cells:after, .weui_cells:before{
        height:0px;position: relative;
    }
    .weui_cell_bd {
        p {
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-align: left;
        }
    }
}

.workbookStuExercise{
    .exampleIcon{
        font-size:1.3rem;
        padding:.35rem;
    }
    .weui_btn.weui_btn_mini{
        top:-2px;
    }
    .icon-correct{
        color: #4bb7aa
    }
    .icon-error{
       color:red;
    }
    .checker{
            line-height: 1.9;
            font-size: .85rem;
            padding: 0 .6rem;
            margin-right:.5rem;
            display: inline-block;
            background: #4bb7aa;
            color:#fff;
            &.error{
                background: red;
                color:#fff;
            }
    }
    .weui_cell{
        padding:.3rem .5rem;
    }
    .weui_btn.weui_btn_mini{
        font-size: .85rem;
        padding: 0 .6rem;
    }
    p{
        font-size:.8rem;
        display: inline-block;
        text-align: center;
    }
    .section{
        .tl{
            text-align: left;
        }
         .tr{
            text-align: right;
        }
        article{
            background:#fff; margin-top:.3rem;
            padding:.3rem 0rem;
            .point{
                padding: 0 1rem;
            }
            header{
                border-bottom:1px solid #ccc;
                padding-bottom:.2rem;
                h1{
                    font-size:.8rem;font-weight: normal;
                    width:35%;
                    padding: 0 1rem;
                    text-align: left;
                }
            }
            div{
                border-bottom: 1px dashed #ccc;
                padding: .3rem 1rem;
            }
        }
    }
    .sectionHeader{
        background: #fff;text-align: center;
        position: relative;
        padding:5px 0;
        font-size:.75rem;
        .ellipsis{
              -webkit-box-orient: none;
        }
    }
    .per-20{
        width:20%;
    }
    .per-21{
        width:21.6%;
    }
    .per-25{
        width:25%;
    }
    .per-35{
        width:35%;
    }
    .per-40{
        width:40%;
    }
    .per-60{
        width:60%;
    }
}



