@font-face {
  font-family: "iconfont";
  src: url('iconfont.woff?t=1474006879') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1474006879') format('truetype');
  /*Chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
  content: "\e60c";
}

.icon-correct:before {
  content: "\e60f";
}

.icon-plus:before {
  content: "\e60e";
}

.icon-closezhuanhuan:before {
  content: "\e60d";
}

.icon-book:before {
  content: "\e647";
}

.icon-book2:before {
  content: "\e63e";
}

.icon-wechat:before {
  content: "\e602";
}

.icon-book1:before {
  content: "\e607";
}

.icon-share:before {
  content: "\e609";
}

.icon-collect:before {
  content: "\e60b";
}

.icon-clear:before {
  content: "\e605";
}

.icon-error:before {
  content: "\e610";
}

.icon-camera:before {
  content: "\e606";
}

.icon-class:before {
  content: "\e60a";
}

.icon-box:before {
  content: "\e644";
}

.icon-comment2:before {
  content: "\e90a";
}

.icon-error-login:before {
  content: "\e603";
}

.icon-user:before {
  content: "\e629";
}

.icon-qq:before {
  content: "\e648";
}

.icon-collect1:before {
  content: "\e604";
}

.icon-correct2:before {
  content: "\e680";
}

.icon-filterclear:before {
  content: "\e6b7";
}

.icon-workbook:before {
  content: "\e639";
}

.icon-settingfull:before {
  content: "\e638";
}

.icon-comiiszanwushuju:before {
  content: "\e600";
}

.icon-info:before {
  content: "\e608";
}

.icon-bag:before {
  content: "\e611";
}

.icon-userInfo:before {
  content: "\e601";
}

.icon-hat:before {
  content: "\e6b6";
}

.icon-brush:before {
  content: "\e67f";
}

.icon-pie-chart:before {
  content: "\e7a7";
}

.icon-textbook:before {
  content: "\e61f";
}

.icon-z-brush-copy:before {
  content: "\e90b";
}
